body {
	background: #333;
    font-family: 'Montserrat Alternates', sans-serif;

}

footer {
	color: #aaa;
}

.list-logo {
	width: 64px;
	height: 64px;
	margin-right: 3rem;
}

#title {
	color: #fff;
}

#signature {
  color: #fff;
}
